body {
  background-color: black;
}

h1 {
  font-weight: bold;
}

#main {
  max-width: 50%;
  color: white;
  margin: auto;
  padding-top: 16%;
}

#intro {
  font-size: 25px;
}

#important-text-1 {
  color: violet;
}

a:link {
  text-decoration: none;
}
